* {
    margin: 0;
}

#nav-container {
    display: flex;
    height: 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

#nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;
}

/* gradient background, clipping text and color text tramsparent */
#nav-logo>h1 {
    background-image: linear-gradient(to right, red, yellow);
    background-clip: text;
    color: transparent;
}

#menu {
    display: flex;
    gap: 20px;
    margin: 10px;
}

#bar-menu {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

button {
    all: unset;
}

button:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    #nav-container {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    button {
        display: none;
    }

    #bar-menu {
        display: flex;
    }


}